.cell {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: inline-block;
}

.cell img {
  width: 49px;
  vertical-align: unset;
}

.separator {
  margin-top: -8px;
}

.button {
  padding: 10px 90px !important;
}

.button-2 {
  margin-top: 10px !important;
  padding: 10px 85px !important;
}

.button-3 {
  margin-top: 10px !important;
  padding: 10px 143px !important;
}

.settings {
  margin-left: 50%;
  transform: translateX(-50%);
}

.slider {
  width: 275px !important;
  margin-top: 5px;
  margin-left: 5px;
}

.sliders {
  margin-top: 35px !important;
}

.tournamentSlider {
  width: 180px !important;
  margin-top: 27px;
  margin-left: 20px;
}

.box {
  display: inline-block;
  margin-top: 5px;
}

.box p {
  margin-left: 25px;
  font-size: 15px;
}
